body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 60px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.generator-container {
  background-color: #ede6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  height: auto;
}

.generator-container .generator-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.generator-container .generator-controls label {
  font-size: 18px;
}

.generator-container .generator-controls input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.generator-container .generator-controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generator-container .generator-controls button:hover {
  background-color: #0056b3;
}
